body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    
}

/* Register Page Styling */
.register-container {
    max-width: 500px;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
    margin: auto;
    border: 2px solid #333;
    
}

h2, h3 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    
}

input {
    width: 93%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #333;
}

select {
    width: 96%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #333;
}

.status {
    width: 93%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #333;
}

.bday {
    width: 83%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #333;
}

button {
    width: 30%;
    height: 10%;
    padding: 5px;
    background-color: #2bbab8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #333;
}

button:hover {
    background-color: #218838;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-group {
    flex: 1;
}


/* Login Page Styling */
.login-form {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
    margin: auto;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form input {
    text-align: center;
    width: 90%;
}